<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="TraceSourceApp" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <!--switchValue="Warning" 也可以在此处直接指定switch的值-->
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener">
            <!--initializeData 主要是用于从那个等级开始记录,如只会记录大于Information的消息-->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
          </add>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--value 主要是用于从那个等级开始记录,如只会记录大于Information的消息-->
      <add name="sourceSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="myListener.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="appKey" value="21479233"/>
    <add key="appSecret" value="98dd6f00daf3f94322ec1a4ff72370b7"/>
    <!--我的售价是原价的几折-->
    <add key="DiscountRatio" value="0.7"/>
    <add key="PrefixTitle" value="13夏 Banggo代购"/>
    <add key="LocationState" value="上海"/>
    <add key="LocationCity" value="上海"/>
    <add key="PrefixGoodsDesc" value="本店与‘邦购网’同步发售，并由‘邦购网’统一发货，库存未能及时更新，亲，可以在邦购网上确认颜色和尺码 或 咨询掌柜。谢谢合作！"/>

    <add key="TaoBaoSearchUrl" value="http://s.taobao.com/search?q={0}&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=1.1000386.5803581.d4908513"/>

  <!-- 买该产品的成本折扣是多少，如打折卷是5折的-->
  <add key="CostRatio" value="0.5"/>
  <!--额外的成果价，如，购买打折卷的钱，以及 电话、车费、请人吃饭等。-->
  <add key="CostExtraPrice" value="10"/>
  </appSettings>
</configuration>